In [16]:
import pandas as pd
import matplotlib as plt 
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [17]:
abuk=pd.read_csv(r'D:/EGX/ABUK.csv')

In [18]:
abuk

           Date     Open     High      Low    Close     Volume
0    09/21/2023  ..61.70  ..62.40  ..61.37  ..62.35    431,929
1    09/20/2023  ..62.43  ..64.00  ..61.51  ..61.70  2,060,836
2    09/19/2023  ..59.20  ..62.99  ..59.31  ..62.43  1,211,989
3    09/18/2023  ..59.49  ..60.00  ..58.94  ..59.20    768,336
4    09/14/2023  ..56.50  ..59.00  ..56.26  ..58.00    845,599
..          ...      ...      ...      ...      ...        ...
192  09/29/2022  ..24.40  ..24.80  ..24.26  ..24.80    729,550
193  09/28/2022  ..24.52  ..24.52  ..24.10  ..24.40    933,927
194  09/27/2022  ..24.50  ..24.52  ..24.20  ..24.52    382,656
195  09/26/2022  ..24.40  ..24.82  ..24.05  ..24.50  1,411,188
196  09/22/2022  ..23.74  ..23.99  ..23.17  ..23.60  1,679,321

[197 rows x 6 columns]

In [19]:
abuk['Date'] = pd.to_datetime(abuk['Date'], format='%m/%d/%Y')

In [20]:
abuk['Open']=abuk['Open'].apply(lambda x:x[2:])
abuk['High']=abuk['High'].apply(lambda x:x[2:])
abuk['Low']=abuk['Low'].apply(lambda x:x[2:])
abuk['Close']=abuk['Close'].apply(lambda x:x[2:])

In [21]:
abuk[['Open', 'High', 'Low', 'Close']] = abuk[['Open', 'High', 'Low', 'Close']].astype(float)

In [22]:
abuk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    197 non-null    datetime64[ns]
 1   Open    197 non-null    float64
 2   High    197 non-null    float64
 3   Low     197 non-null    float64
 4   Close   197 non-null    float64
 5   Volume  197 non-null    object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 9.4+ KB

In [45]:
hm_high=stats.hmean(abuk['High'][:30])
hm_Low=stats.hmean(abuk['Low'][30:50])
hm_Open=stats.hmean(abuk['Open'][:50])
hm_Close=stats.hmean(abuk['Close'][:50])

In [46]:
hm_high_hm_Low=(hm_high-hm_Low)/(hm_Low)
hm_high_hm_Low*100

15.000721531416724

In [39]:
mean_high=np.mean(abuk['High'][:30])
mean_Low=np.mean(abuk['Low'][30:50])
mean_Open=np.mean(abuk['Open'][:50])
mean_Close=np.mean(abuk['Close'][:50])

In [42]:
mean_high_mean_Low=(mean_high-mean_Low)/(mean_Low)
mean_high_mean_Low*100

15.726290516206495